<div>
    <h2>Users</h2>
    <jh-alert></jh-alert>
    <div class="container">
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
               <!--  <th jh-sort-by="id"><span>ID</span><span class="glyphicon glyphicon-sort"></span></th> -->
                <th jh-sort-by="login"><span>Login</span><span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span>Email</span><span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
                <th jh-sort-by="authorities"><span>Profiles</span><span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="createdDate"><span>CreatedDate</span><span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastModifiedBy"><span>LastModifiedBy</span><span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastModifiedDate"><span>LastModifiedDate</span><span class="glyphicon glyphicon-sort"></span></th>
                <th><button type="submit"
                            ui-sref="user-management.new"
                            class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users track by user.id">
                <!-- <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td> -->
               <!--  <td>{{ $index + 1 }}</td> -->
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="setActive(user, true)" ng-show="!user.activated"
                          style="cursor: pointer;">Desactivated</span>
                    <span class="label label-success" ng-click="setActive(user, false)" ng-show="user.activated"
                          style="cursor: pointer;">Activated</span>
                </td>
                
                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="user-management-detail({login:user.login})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.edit({login:user.login})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.delete({login:user.login})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
