<div>
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<form name="editForm" role="form" novalidate ng-submit="save()">
				<h4 class="modal-title" id="mySocialNetworkLabel">Create or
					edit a Role</h4>
				<hr />
				<div>
					<jh-alert-error></jh-alert-error>
					<div class="form-group">
						<label class="control-label" for="field_name">Name</label> <input
							type="text" class="form-control" name="name" id="field_name"
							ng-model="authority.name" />
					</div>
					<div class="form-group">
						<label class="control-label" for="field_description">Description</label>
						<input type="text" class="form-control" name="description"
							id="field_description" ng-model="authority.description" />
					</div>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button>
					<button ui-sref="authority" class="btn btn-info">
						<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
							Cancel</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
