<div class="space-header">
<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span><span class="icon-bar"></span><span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Project name</a>
		</div>
		<div class="navbar-collapse collapse">
			<div id="navbar3" class="navbar-collapse collapse"
				id="navbar-collapse" ng-switch="isAuthenticated()">
				<ul class="nav navbar-nav">
					<li ui-sref-active="active" ng-switch-when="true"><a
						ui-sref="home" data-toggle="collapse"
						data-target=".navbar-collapse.in"> <span
							class="glyphicon glyphicon-home"></span> <span class="hidden-sm">Home</span>
					</a></li>

					<li ng-class="{active: $state.includes('entity')}"
						has-authority="ROLE_ADMIN" ng-switch-when="true"
						class="dropdown pointer"><a class="dropdown-toggle"
						data-toggle="dropdown" href="" id="entity-menu"> <span>
								<span class="glyphicon glyphicon-th-list"></span> <span
								class="hidden-sm"> Master </span> <b class="caret"></b>
						</span>
					</a>

						<ul class="dropdown-menu">
							<li ui-sref-active="active"><a ui-sref="socialNetwork"
								data-toggle="collapse" data-target=".navbar-collapse.in"><span
									class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Social
										Network</span></a></li>
							<li ui-sref-active="active"><a ui-sref="authority"
								data-toggle="collapse" data-target=".navbar-collapse.in"><span
									class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Role Management</span></a></li>			
							<li ui-sref-active="active"><a ui-sref="user-management"
								data-toggle="collapse" data-target=".navbar-collapse.in"><span
									class="glyphicon glyphicon-user"></span> &#xA0;<span>User
										management</span></a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- jhipster-needle-001 - JHipster will add new menu items here -->

					<li ui-sref-active="active" ng-switch-when="false"><a
						ui-sref="home" data-toggle="collapse"
						data-target=".navbar-collapse.in"> <span
							class="glyphicon glyphicon-home"></span> <span class="hidden-sm">Home</span>
					</a></li>

					<li ui-sref-active="active" ng-switch-when="false"><a
						ui-sref="login" data-toggle="collapse"
						data-target=".navbar-collapse.in"><span
							class="glyphicon glyphicon-log-in"></span> &#xA0;<span>Sign
								in</span></a></li>
					<!--  <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span>Register</span></a></li> -->
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li ng-class="{active: $state.includes('account')}"
						ng-switch-when="true" class="dropdown pointer"><a
						class="dropdown-toggle" data-toggle="dropdown" href=""
						id="account-menu"> <span class="glyphicon glyphicon-user"></span>
							<span class="hidden-sm"> Muthu <!-- <img
								src="http://placehold.it/60x60" class="profile-image img-circle"> -->
						</span> <b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li>
								<div class="navbar-content">
									<div class="row">
										<div class="col-md-5">
											<img src="http://placehold.it/120x120" alt="Alternate Text"
												class="img-responsive" />
											<p class="text-center small">
												<a href="#">Change Photo</a>
											</p>
										</div>
										<div class="col-md-7">
											<span>Muthu Kumar M</span>
											<p class="text-muted small">nirmal.biit@gmail.com</p>
											<div class="divider"></div>
											<a ui-sref="settings" class="btn btn-primary btn-sm active">View
												Profile</a>
										</div>
									</div>
								</div>
								<div class="navbar-footer">
									<div class="navbar-footer-content">
										<div class="row">
											<div class="col-md-6">
												<a ui-sref="password" class="btn btn-default btn-sm">Change
													Passowrd</a>
											</div>
											<div class="col-md-6">
												<a href="" ng-click="logout()"
													class="btn btn-default btn-sm pull-right">Sign Out</a>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul></li>


				 <!--  <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span>Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span>Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span>Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span>Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span>Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span>API</span></a></li>
                    </ul>
                </li>  -->
			</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</nav>
</div>
