<div>
	<h2>Social Network</h2>
	<jh-alert></jh-alert>

	<!-- <div class="btn-toolbar" style="padding-left: 850px;"> -->
	<div class="btn-toolbar">
		<button type="submit" ui-sref="socialNetwork.new" class="btn"><span class="glyphicon glyphicon-plus"></span> Add</button>
		<button class="btn"> <span class="glyphicon glyphicon-trash"></span> Delete All</button>
		<button class="btn">Export</button>
	</div>
<br />
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
					<!-- <th jh-sort-by="id"><span>#</span> <span class="glyphicon glyphicon-sort"></span></th>
 -->
 					<th>  <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
					<th jh-sort-by="name"><span>Name</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="description"><span>Description</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="isActive"><span>IsActive</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<!-- <th><button type="submit" ui-sref="socialNetwork.new"
							class="btn btn-success btn-sm">
							<span class="glyphicon glyphicon-plus"></span>
						</button></th> -->
						<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="socialNetwork in socialNetworks track by socialNetwork.id">
					<!--  <td><a ui-sref="socialNetwork.detail({id:socialNetwork.id})">{{socialNetwork.id}}</a></td> -->
					<!--  <td>{{ $index + 1 }}</td> -->
					<td> <input type="checkbox" ng-model="socialNetwork.Selected" /></td>
					<td>{{socialNetwork.name}}</td>
					<td>{{socialNetwork.description}}</td>
					<td>{{socialNetwork.isActive}}</td>
					<td>
						<button type="submit"
							ui-sref="socialNetwork.detail({id:socialNetwork.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
						<button type="submit"
							ui-sref="socialNetwork.edit({id:socialNetwork.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button type="submit"
							ui-sref="socialNetwork.delete({id:socialNetwork.id})"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<uib-pagination class="pagination-sm" total-items="totalItems"
			ng-model="page" ng-change="loadAll()"></uib-pagination>
	</div>
</div>
